* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  color: rgba(0, 0, 0, 0.7);
}

html {
  height: 90vh;
  background: rgb(214, 174, 238);
  background: radial-gradient(
    circle,
    rgba(236, 240, 241, 1) 0%,
    rgba(189, 195, 199, 1) 100%
  );
}

body {
  height: 100vh;
}

h1 {
  padding-bottom: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
}

.panel {
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid div,
.mini-grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.limit {
  background-color: rgba(0, 0, 0, 0.2);
}

.controller {
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.btn-fake {
  width: 40px;
  height: 40px;
}

button {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: white;
  z-index: 4;
  outline: 0;
  box-shadow: none !important;
}

#btn-reset {
  width: 160px;
}

#btn-about {
  width: 160px;
}
